<header class="site-header" role="banner">

    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a class="site-title" href="{{ "/" | relative_url }}">
          <h1 class="hidden-title" rel="author">{{ site.title | escape }}</h1>
          <img class="site-logo" src="{{ "/assets/img/logo_v2.jpg" | relative_url }}" alt="logo">
          <div class="site-subtitle">Schöneweide</div>
        </a>
    </div>

    <div class="wrapper">
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" />
            <label for="nav-trigger">Menü</label>

            <ul class="trigger">
                <li><a class="button" href="{{ site.url }}#about">Über uns</a></li>
                <li><a class="button" href="{{ site.url }}#events">Veranstaltungen</a></li>
                <li><a class="button" href="{{ site.url }}#team">Team</a></li>
                <li><a class="button" href="{{ site.url }}/blog.html">Blog</a></li>
                <li><a class="button" href="{{ site.url }}/impressum.html">Impressum</a></li>
            </ul>
        </nav>
    </div>
</header>
