<section id="impressum">
    <h2>Impressum</h2>
    <p>
      Angaben gemäß § 5 TMG. Zum Anzeigen der Kontaktdaten muss JavaScript aktiviert sein.
    </p>
    <p>
      Ansprechpartnerin: Linda Fernsel <br />
      Anschrift: <span id="address"><button onclick="show('address', 'kM4IV01ZCHtBxDHtsvtBH9MZTQV')">Zeige Anschrift</button></span> <br />
      Email: <span id="email"><button onclick="show('email', 'TQVLICNMZV0MTFOUIQTCKWU')">Zeige Mailadresse</button></span> <br />
      Telefon: <span id="phone"><button onclick="show('phone', 'stxusuAuwwsz')">Zeige Telefonnummer</button></span>
    </p>
</section>
